<div class="keep-c-list-container">
	<label>Not-Started</label>	
	<!-- Populate notStartedNotes -->
	<mat-list *ngFor="let note of notStartedNotes">
		<app-note [note] = "note" ></app-note>
	</mat-list>
</div>
<div class="keep-c-list-container">
	<label>Started</label>	
	<!-- Populate startedNotes -->
	<mat-list *ngFor="let note of startedNotes">
		<app-note [note] = "note"></app-note>
	</mat-list>
</div>
<div class="keep-c-list-container">
	<label>Completed</label>
	<!-- Populate completedNotes -->
	<mat-list *ngFor="let note of completedNotes">
			<app-note [note] = "note"></app-note>
	</mat-list>
</div>